---
apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
    - secrets
    providers:
    - aescbc:
        keys:
        - name: key1
          secret: "{{lookup('file', kubernetes.apiserver.secret_encryption.local_key) }}"
    - identity: {}
