[
  {
    "op": "add",
    "path": "/spec/containers/0/command/-",
    "value": "--bind-address={{ (ansible_facts[kubernetes.controller_manager.listen_interface | replace("-", "_")]['ipv4']['address']) | default(ansible_facts['default_ipv4']['address']) }}"
  },
  {
    "op": "add",
    "path": "/spec/containers/0/startupProbe/httpGet/host",
    "value": "{{ (ansible_facts[kubernetes.controller_manager.listen_interface | replace("-", "_")]['ipv4']['address']) | default(ansible_facts['default_ipv4']['address']) }}"
  },
  {
    "op": "add",
    "path": "/spec/containers/0/livenessProbe/httpGet/host",
    "value": "{{ (ansible_facts[kubernetes.controller_manager.listen_interface | replace("-", "_")]['ipv4']['address']) | default(ansible_facts['default_ipv4']['address']) }}"
  }
]
