[
  {
    "op": "add",
    "path": "/spec/containers/0/command/-",
    "value": "--address={{ (ansible_facts[kubernetes.scheduler.listen_interface | replace("-", "_")]['ipv4']['address']) | default(ansible_facts['default_ipv4']['address']) }}"
  },
  {
    "op": "add",
    "path": "/spec/containers/0/command/-",
    "value": "--bind-address={{ (ansible_facts[kubernetes.scheduler.listen_interface | replace("-", "_")]['ipv4']['address']) | default(ansible_facts['default_ipv4']['address']) }}"
  }
]
