[req]
prompt = no
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]
commonName = {{ common_name }}

[v3_req]
basicConstraints = CA:TRUE,pathlen:0
keyUsage = keyCertSign, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, serverAuth
