---
- name: create_dirs
  file:
    path: "{{ item }}"
    state: directory
    mode: 0700
  with_items:
    - "{{ host_vars_dir }}"
    - "{{ secrets.dir }}"
  delegate_to: localhost
  run_once: true

- import_tasks: wireguard.yml
  delegate_to: localhost
  when: secrets.wireguard

- import_tasks: kubernetes.yml
  delegate_to: localhost
  run_once: true
  when: secrets.kubernetes

- name: find_all_secrets_to_encrypt
  find:
    paths: "{{ secrets.dir }}"
    patterns:
      - '.*key.*'
      - '.*token.*'
      - '.*ca-cert-hash.*'
    recurse: yes
    use_regex: yes
  register: all_secrets_to_encrypt

- import_tasks: vault-encrypt.yml
  delegate_to: localhost
  run_once: true
  when: secrets.vault_encrypt

- name: find_all_secrets
  find:
    paths: "{{ secrets.dir }}"
    patterns: '*'
    recurse: yes
  register: all_secrets

- name: change_secrets_perm
  file:
    path: "{{ item.path }}"
    mode: 0400
  with_items: "{{ all_secrets.files }}"
  delegate_to: localhost
  run_once: true
