[Interface]
Address = {{ conf.value.address }}
ListenPort = {{ conf.value.port }}
PrivateKey = {{ conf.value.priv_key }}
{% if conf.value.mtu is defined %}
MTU = {{ conf.value.mtu }}
{% endif %}
{% if conf.value.dns is defined %}
DNS = {{ conf.value.dns }}
{% endif %}
{% if conf.value.pre_up is defined %}
PreUp = {{ conf.value.pre_up }}
{% endif %}
{% if conf.value.post_up is defined %}
PostUp = {{ conf.value.post_up }}
{% endif %} 
{% if conf.value.pre_down is defined %}
PreDown = {{ conf.value.pre_down }}
{% endif %}
{% if conf.value.post_down is defined %}
PostDown = {{ conf.value.post_down }}
{% endif %}

{% if conf.value.external is defined %}
{% for conf in conf.value.external %}

[Peer]
PublicKey = {{ vars['wireguard_external'][conf]['pub_key'] }}
PresharedKey = {{ vars['wireguard_external'][conf]['preshared_key'] }}
AllowedIPs = {{ vars['wireguard_external'][conf]['address'] | ipaddr('network/prefix') }}
{% if vars['wireguard_external'][conf]['persistent_keepalive'] is defined %}
PersistentKeepalive = {{ vars['wireguard_external'][conf]['persistent_keepalive'] }}
{% endif %}

{% endfor %}
{% endif %}

{% for h in groups['all'] %}
{% for k, v in hostvars[h]['wireguard'].items() %}
{% if (k == conf.key) and (h != ansible_nodename) %}

[Peer]
Endpoint = {{ hostvars[h]['ansible_default_ipv4']['address'] }}:{{ v.port }}
PublicKey = {{ v.pub_key }}
PresharedKey = {{ v.preshared_key }}
AllowedIPs = {{ v.address | ipaddr('network/prefix') }}
{% if v.persistent_keepalive is defined %}
PersistentKeepalive = {{ v.persistent_keepalive }}
{% endif %}

{%- endif %}
{% endfor %}
{% endfor -%}
