APT::Periodic::Download-Upgradeable-Packages "{{ apt_periodic.download_upgradeable_packages }}";
APT::Periodic::AutocleanInterval "{{ apt_periodic.autoclean_interval }}";
APT::Periodic::Update-Package-Lists "{{ apt_periodic.update_package_lists }}";
APT::Periodic::Unattended-Upgrade "{{ apt_periodic.unattended_upgrade }}";
